# Moodle HEBAT Unair credentials
UNAIR_USERNAME=
UNAIR_PASSWORD=

# MariaDB connection string
# Format: user:pass@tcp(host:port)/dbname
MARIADB_DSN=

# Telegram Bot (ganti CALLMEBOT)
# Dapatkan bot token dari @BotFather di Telegram
TELEGRAM_BOT_TOKEN=
# Dapatkan chat ID dari @userinfobot di Telegram
TELEGRAM_CHAT_ID=
