# Moodle HEBAT Unair credentials
UNAIR_USERNAME=
UNAIR_PASSWORD=

# MariaDB connection string
# Format: user:pass@tcp(host:port)/dbname
MARIADB_DSN=

# Callmebot WhatsApp API
CALLMEBOT_PHONE=
CALLMEBOT_APIKEY=
